<div >
	<ul class="nav nav-tabs">
	  <li class="nav-header">Profile</li>
	  <li class="active"><%= link_to "Personal", "/users/add_profile"  %></li>
	  <li><%= link_to "Family", "/users/family_detail"  %></li>
	  <li><%= link_to "Partner", "/users/partner_detail"  %></li>
	  <li><%= link_to "Photo", "/users/upload_image"  %></li>
	</ul>
</div>